{{ dump(product) }}

    <body>
        <h1>List of products </h1>
            <ul>
                {% for product in products %}

                    <li>{{ product }}</li>
                {% endfor %}
            </ul>
    </body>


